html {
    scroll-behavior: smooth;
}

* {
    margin-top: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: lightgray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.div {
    height: auto;
    width: 90%;
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 10px 10px 25px #babecc, -10px -10px 25px #ffffff;
    padding: 30px;
}

.table {
    height: auto;
    width: 90%;
    max-width: 500px;
    border-collapse: collapse;
}